@model IEnumerable<DTOs.Concrete.YaziDtoS.YaziListDto>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GorunurResmi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeklemeDurumu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YazıldıgıTarih)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.Raw("<img src=\"data:image/jpeg;base64," + Convert.ToBase64String(item.GorunurResmi) + "\" class=\"img-thumbnail\" style=\"width: 100px; height: 100px; margin-bottom: 20px;\" />")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BeklemeDurumu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YazıldıgıTarih)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}